body {
  padding: 20px;
}
h1 {
  font-size: 60px;
  margin: 0;
  display: inline;
  float: left;
}
h2 {
  font-size: 40px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.head-item {
  display: inline;
  float: left;
  padding-left: 50px;
  margin-top: 20px;
}

.search {
  height: 40px;
  width: 400px;
  border: 1px solid gray;
  background-color: white;
}
.search input {
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}
.search button {
  width: 50px;
  height: 100%;
  border: 0px;
  background: darkorange;
  outline: none;
  float: right;
  color: white;
}

header span {
  font-size: 17px;
  display: inline;
  float: right;
  margin-top: 25px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  padding: 15px;
  cursor: pointer;
}
.nav-item a {
  text-align: center;
  text-decoration: none;
  color: gray;
  font-size: 25px;
  font-weight: 600;
}
.nav-item:hover {
  background-color: yellowgreen;
}
.nav-item:hover ul.myMenu {
  display: block;
  background: white;
}

ul.myMenu {
  display: none;
  position: absolute;
  left: 18px;
  top: 170px;
}
ul.myMenu {
  font-weight: 800;
  font-size: 20px;
}
ul.myMenu li {
  display: inline-block;
  width: 80px;
  padding: 5px 10px;
  background: white;
  text-align: center;
}

ul.myMenu > li ul.submenu > li {
  display: inline-block;
  width: 80px;
  padding: 5px 10px;
  background: white;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
ul.myMenu > li ul.submenu > li:hover {
  background: gold;
}

.scroll {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: scroll;
}

.scroll-item {
  width: 160px;
  display: table;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 15px;
}

.scroll-item img {
  height: 150px;
  margin-bottom: 10px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.411);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.scroll::-webkit-scrollbar-track {
  display: none;
}
